{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Одежда</title>
    <style>
   a {
    text-decoration: none; 
   }
   </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cloth.css' %}">
</head>
<body>
    
    <h1>Категория затрат на одежду</h1>
    <form method="post" class="summa-3">
      {% csrf_token %}
      {{ form.as_p }}
      <label>Введите сумму:</label>
      <input type="int">
      <input type="submit" value="ДОБАВИТЬ" class="submit-button-3"> 
    </form>
    {% if categories %}  
    <h2>Введенная сумма: {{ sum_value }}</h2>  
    {% endif %}
    <a href="{% url 'categories' %}">На главную</a> 
</body>
</html>
{% endblock %}