{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Дом</title>
    <style>
    a {
        text-decoration: none; 
    }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <h1>Категория затрат на дом</h1>
   
    <form method="post" class="summa-7">
      {% csrf_token %}
      {{ form.as_p }}
      <label>Введите сумму:</label>
      <input type="int">
      <input type="submit" value="ДОБАВИТЬ" class="submit-button-7"> 
    </form>
    {% if categories %}  
    <h2>Введенная сумма: {{ sum_value }}</h2>  
    {% endif %}
    <a href="{% url 'categories' %}">На главную</a> 
</body>
</html>
{% endblock %}