html, body{
    background-color: #9b59b6
}

body{
    font-family:"Gill Sans", sans-serif
}

.submit-button-8 {
    background-color: #540e28;
    box-shadow: 0 0 5px red,
    0 0 25px red;
    border: 0px;
    color: white;
    padding: 10px 20px; 
    border-radius: 15px; 
    cursor: pointer; 
}

.submit-button-8:hover {
    box-shadow: 0 0 5px red,
    0 0 25px red, 0 0 50px red,
    0 0 100px red, 0 0 200px red;
}

.summa-8{
    font-size: 30px
}

a{
  
    color: black;
    font-size: 20px
}