html, body{
    background-color: #FF9800
}

body{
    font-family:"Gill Sans", sans-serif
}

.submit-button-2 {
    background-color: #FF9800;
    box-shadow: 0 0 5px yellow,
    0 0 25px yellow;
    border: 0px;
    color: black;
    padding: 10px 20px; 
    border-radius: 15px; 
    cursor: pointer; 
}

.submit-button-2:hover {
    box-shadow: 0 0 5px yellow,
    0 0 25px yellow, 0 0 50px yellow,
    0 0 100px yellow, 0 0 200px yellow;
}

.summa-2{
    font-size: 30px
}

a{
  
    color: black;
    font-size: 20px
}